# Detalhes da conexão PostgreSQL
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST="" # ou o host do seu BD
POSTGRES_PORT=""      # ou a porta do seu BD
POSTGRES_DB=""
# SSL Mode (disable, require, verify-ca, verify-full)
POSTGRES_SSLMODE="disable"

# Linha antiga (removida ou comentada para referência)
# POSTGRES_URL="" 